/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  width: 100%;
  height: 50px;
  background-color: red;

}

.main-visual {
  width: 100%;
  height: 500px;
  background-color: orange;

}

main{
  width: 960px;
  margin: 0 auto;
  display: flex;


}

.main-left {
  height: 1400px;
  width: 230px;
  background-color: limegreen;
}

.main-center {
  height: 1400px;
  width: 500px;
  background-color: green;

}

.main-right {
  height: 1400px;
  width: 230px;
  background-color: limegreen;
}

footer {
  height: 100px;
  width: 100%;
  background-color: blue;
}